/* shared-start */
body {
    max-width: 1140px;
    width: 1140px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

:root {
    --font-size-large: 2.25rem;
    --font-size-medium: 1.5rem;
    --font-size-small: 1.2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

.content-title {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: var(--font-size-large);
    font-weight: 700;
    line-height: 2rem;
}

.content-description {
    color: #3A3A3A;
    font-weight: 600;
}

.btn-primary {
    border: none;
    border-radius: 2rem;
    background: #E02C6D;
    color: #FFF;
    font-weight: 700;
    width: 10.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
}


/* shared-end */
/* navigation-start */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5rem auto;
}

.nav-title {
    color: #3A3A3A;
    font-size: var(--font-size-medium);
    font-weight: 700;
}

nav>ul {
    display: flex;
    align-items: center;
    padding: 0;
}

nav>ul li {
    list-style: none;
    margin-right: 1.5rem;
}

nav>ul>li>a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}

nav>ul>li>img {
    width: 80%;
}

/* navigation-end */
/* banner-start */

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner-container>div {
    width: 40%;
}

.banner-container>h1 {
    font-size: 3.5rem;
}

.banner-img-container {
    background-image: url('images/Circle\ design.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-img-container>img {
    width: 100%;
}



/* banner-end */


/* media query - mobile devices */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }

    nav>ul>li {
        margin: 0.8rem auto;
        padding: 0 0.2rem;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-container>div {
        width: 80%;
        height: 40%;
    }
}

/* media query - tablet devices */
/* @media screen and (min-width: 577px) and (max-width: 960px) {} */